<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
    <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
    {% for link in site.footer.links %}
    {% if link.label and link.url %}
    <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}"
          aria-hidden="true"></i> {{ link.label }}</a></li>
    {% endif %}
    {% endfor %}
    {% endif %}

    <li><a
        href="{% if site.atom_feed.path %}{{ site.atom_feed.path | absolute_url }}{% else %}{{ '/feed.xml' | absolute_url }}{% endif %}"><i
          class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label |
        default: "Feed" }}</a></li>
  </ul>

  <div style="margin-top: 20px;">
    <a href="https://www.linkedin.com/in/arminmehran" target="_blank" rel="noopener noreferrer"
      class="btn btn--linkedin">
      <i class="fab fa-linkedin fa-2x" style="vertical-align: middle;"></i>
      <span style="vertical-align: middle; margin-left: 5px; font-weight: bold;">Connect on LinkedIn</span>
    </a>
  </div>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</div>